# Analiza podatkov

Podatki so zbrani iz spletne strani [AMZS](https://www.amzs.si/na-poti/Potovalne-informacije-po-evropskih-drzavah).

## Priprava knjižnic in osnovnih nastavitev

In [4]:
from tabela_csv import *
from pretvori_v_EUR import *

## Pridobivanje podatkov za posamezno državo

In [5]:
import pandas as pd

testna_drzava = "slovenija"
slovar = pridobi_kazni_za_drzavo(testna_drzava)
df = pd.DataFrame(list(slovar.items()), columns=['Kazni', 'Vrednosti'])
df

     Kazni      Vrednosti
0   drzava      Slovenija
1   valuta            EUR
2  alkohol    300 - 1.200
3   voznja  120 + 3 točke
4      pas            120
5  telefon  250 + 3 točke

## Funkcija za pretvorbo kazni v EUR

In [6]:
# Pretvorba testne vrednosti v EUR
testna_cena = "100"
testna_valuta = "HUF"
pretvorjena_cena = pretvori_v_eur(testna_cena, testna_valuta)
f"Pretvorjena cena: {pretvorjena_cena} EUR"

'Pretvorjena cena: 0.2 EUR'